.search-wrapper{color: #777;
    margin-top: -1px;
display:flex;
    -webkit-transition: margin .25s ease;
    transition: margin .25s ease;}


    .search-box, form{
        margin: 0px auto;
        width: 70%;
        display:flex;
    
    }

    .btn-flat{
        padding:0
    }

.results-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.right{
    cursor: pointer;
}    

 #search-button {
    align-self: center;
    margin-left: 15px;
    border-radius:20px;
}

.card {
    width: 350px
}
.grid-item{
    margin-right:50px;
}
 

.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0px auto
}
